/** For for prose sections, blogging concerns, Markdown, etc. */

/** Pretty syntax blocks */
pre.highlight {
  padding: 0.6em 0.8em;
  margin: 0;
  overflow-x: auto;
}

pre code {
  padding: 0;
}

.highlighter-rouge,
.highlight {
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--sl-font-mono);
}

.highlight,
.highlighter-rouge {
  position: relative;
}

/* Inline code blocks */
:not(pre) > code,
code.highlight,
code.highlighter-rouge {
  display: inline-block;
  font-size: 0.85em;
  padding: 0 0.4em;
  border-radius: 6px;
  vertical-align: middle;
  white-space: break-spaces;
  background-color: var(--code-background-color);
  color: var(--code-color);
}
