.table-container {
  max-width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  height: auto;
}

th {
  font-weight: 500;
  font-size: 1.1em;
}

th,
td {
  text-align: center;
  padding: 1rem;
}

tr {
  border-bottom: 1px solid var(--divider-color);
}

tbody > tr:nth-of-type(2n) {
  background-color: rgba(0, 0, 0, 0.02);
}

table :is(code, code.highlight) {
  border: 1px solid rgba(0, 0, 0, 0.2);
  min-width: max-content;
  text-align: justify;
  word-break: keep-all;
}
